# MongoDB connection
MONGO_URI=YOUR_MONGO_DB_URI
MONGO_DB=YOUR_MONGO_DB_NAME
MONGO_BOOKS_COLLECTION=books
MONGO_CHANGES_COLLECTION=changes

# API
X-API-KEY=x-key
RATE_LIMIT_PER_HOUR=100

# Scheduler
REPORTS_DIR=reports
